*{
  box-sizing: border-box;
}

header{
  background-color: white;
  width: 960px;
  margin: 0px auto;
  text-align: center;
}

body {
  background-image: url("https://www.biography.com/.image/t_share/MTQ1MTM5Nzk0MTMxODIxOTc2/rosa-parks---civil-rights-pioneer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#imageSection{
  max-width: 70%;
  height: 250px;
  margin: 0px auto;
  background-color: white;
}

img {
  max-height: 200px;
  max-width: 70%;
  padding: 10px;
 /* float: left; */
  margin: 0px auto;
}

section{
  background-color: white;
  max-width: 35%;
  margin: 0px auto;
}

#votingResultChart {
  background-color: white;
  margin: 0px auto;
}
