*{
  box-sizing: border-box;
}

header{
  background-color: white;
  width: 960px;
  margin: 0px auto;
  text-align: center;
}

body {
  background-image: url("https://www.biography.com/.image/t_share/MTQ1MTM5Nzk0MTMxODIxOTc2/rosa-parks---civil-rights-pioneer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#imageSection{
  width: 70%;
  height: 250px;
  margin: 0px auto;
  background-color: white;
}

img {
  float: left;  
  margin: 0px auto;
  width: 33%; 
  height: 98%; 
  object-fit: scale-down;
}

section{
  background-color: white;
  max-width: 35%;
  margin: 0px auto;
}

#votingResultChart {
  background-color: white;
  margin: 0px auto;
}
